<h1>Bank Accounts</h1>

<div id="acct_hub">
  <div id="new_acct_div">
    <%= button_to "New Account", new_account_path, method: :get, id: "new_acct_link" %>
  </div>
  
  <div class="acct_data clear">
    <ul id="acct_list">
      <% @accounts.each do |acct| %>
        <li>
          <%= link_to acct.name, account_path(acct.id), id: "show_acct_link" %>
          <%= ".......................   $" + acct.balance.to_s  %>
        </li>
      <% end %>
    </ul>
    <div id="accts_total">TOTAL $<%= @net_total.to_s %></div>
  </div>

  <hr>

  <p>Withdraw/Transfer - Button goes here</p>
  <p>Deposti - Button goes here</p>
</div>
