<h1>Bank Accounts</h1>

<p>Add Account - Button goes here</p>

<div class="acct_list">
  <ul>
    <% @accounts.each do |acct| %>
      <li><%= acct.name + "\t$" + acct.balance.to_s  %></li>
    <% end %>
  </ul>
  <div id="accts_total">TOTAL $999.99</div>
</div>

<hr>

<p>Withdraw/Transfer - Button goes here</p>
<p>Deposti - Button goes here</p>